In [2]:
import pandas as pd

In [3]:
pred_tomatometer = pd.read_csv("prediction_tomatometer.csv")
pred_tomatometer.shape

(14639, 22)

In [4]:
pred_audience = pd.read_csv("prediction_audience.csv")
pred_audience.shape

(14639, 22)

In [5]:
all_preds = pred_tomatometer.copy()
all_preds["pred_aud_rating"] = pred_audience.pred_aud_rating
all_preds.columns

Index(['movie_title', 'movie_info', 'content_rating', 'genres', 'directors',
       'authors', 'actors', 'original_release_date', 'runtime',
       'production_company', 'tomatometer_rating', 'audience_rating', 'year',
       'month', 'len_title', 'len_movie_info', 'num_directors', 'num_authors',
       'num_actors', 'num_genres', 'main_genre', 'pred_tomatometer_rating',
       'pred_aud_rating'],
      dtype='object')

In [6]:
all_preds.loc[:,["movie_title",'tomatometer_rating', 'audience_rating','pred_tomatometer_rating',
       'pred_aud_rating']].head()

,movie_title,tomatometer_rating,audience_rating,pred_tomatometer_rating,pred_aud_rating
0,Percy Jackson & the Olympians: The Lightning T...,49.0,53.0,56.555671,67.412158
1,Please Give,87.0,64.0,47.565039,53.921476
2,10,67.0,53.0,49.614574,58.075423
3,12 Angry Men (Twelve Angry Men),100.0,97.0,80.741472,70.288125
4,"20,000 Leagues Under The Sea",89.0,74.0,68.127017,70.556199

In [7]:
all_preds.to_csv("Prediction_website.csv",index=False)