In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Input CSV
mojo_bud_df = pd.read_csv('../Tracie/Mojo_budget_data.csv')

In [3]:
#pandas dataframe
mojo_bud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2476 entries, 0 to 2475
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         2476 non-null   object
 1   movie_title      2476 non-null   object
 2   movie_year       2476 non-null   int64
 3   director         2476 non-null   object
 4   writer           2472 non-null   object
 5   producer         2471 non-null   object
 6   composer         2403 non-null   object
 7   cinematographer  2386 non-null   object
 8   main_actor_1     2476 non-null   object
 9   main_actor_2     2476 non-null   object
 10  main_actor_3     2476 non-null   object
 11  main_actor_4     2476 non-null   object
 12  budget           2476 non-null   int64
 13  domestic         2476 non-null   int64
 14  international    2476 non-null   int64
 15  worldwide        2476 non-null   int64
 16  mpaa             2414 non-null   object
 17  run_time         2476 non-null   object
 18  genre_1          2476 non-null   object
 19  genre_2          2295 non-null   object
 20  genre_3          1730 non-null   object
 21  genre_4          903 non-null    object
 22  link             2476 non-null   object
dtypes: int64(5), object(18)
memory usage: 445.0+ KB

In [4]:
mojo_bud_df.head()

,movie_id,movie_title,movie_year,director,writer,producer,composer,cinematographer,main_actor_1,main_actor_2,...,domestic,international,worldwide,mpaa,run_time,genre_1,genre_2,genre_3,genre_4,link
0,tt0118589,Glitter,2001,Vondie Curtis-Hall,Cheryl L. West,Laurence Mark,Terence Blanchard,Geoffrey Simpson,Mariah Carey,Eric Benét,...,4274407,997259,5271666,PG-13,1 hr 44 min,Drama,Music,Romance,NaN,https://www.boxofficemojo.com/title/tt0118589/...
1,tt0120630,Chicken Run,2000,Peter Lord,Peter Lord,Peter Lord,Harry Gregson-Williams,Simon Jacobs,Mel Gibson,Julia Sawalha,...,106834564,118000000,224834564,NaN,1 hr 24 min,Adventure,Animation,Comedy,Drama,https://www.boxofficemojo.com/title/tt0120630/...
2,tt0120667,Fantastic Four,2005,Tim Story,Mark Frost,Avi Arad,John Ottman,Oliver Wood,Ioan Gruffudd,Michael Chiklis,...,154696080,178839854,333535934,PG-13,1 hr 46 min,Action,Adventure,Family,Fantasy,https://www.boxofficemojo.com/title/tt0120667/...
3,tt0120679,Frida,2002,Julie Taymor,Hayden Herrera,Lindsay Flickinger,Elliot Goldenthal,Rodrigo Prieto,Salma Hayek,Alfred Molina,...,25885000,30413474,56298474,R,2 hr 3 min,Biography,Drama,Romance,NaN,https://www.boxofficemojo.com/title/tt0120679/...
4,tt0120681,From Hell,2001,Albert Hughes,Alan Moore,Jane Hamsher,Trevor Jones,Peter Deming,Johnny Depp,Heather Graham,...,31602566,42955549,74558115,R,2 hr 2 min,Horror,Mystery,Thriller,NaN,https://www.boxofficemojo.com/title/tt0120681/...

In [5]:
#Input CSV
mojo_upd_df = pd.read_csv('../Tracie/Mojo_budget_update.csv')

In [6]:
#Information about the data
mojo_upd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3243 entries, 0 to 3242
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         3243 non-null   object
 1   title            3243 non-null   object
 2   year             3243 non-null   int64
 3   trivia           3243 non-null   object
 4   mpaa             3082 non-null   object
 5   release_date     3242 non-null   object
 6   run_time         3243 non-null   object
 7   distributor      3228 non-null   object
 8   director         3243 non-null   object
 9   writer           3234 non-null   object
 10  producer         3230 non-null   object
 11  composer         3138 non-null   object
 12  cinematographer  3129 non-null   object
 13  main_actor_1     3243 non-null   object
 14  main_actor_2     3243 non-null   object
 15  main_actor_3     3243 non-null   object
 16  main_actor_4     3240 non-null   object
 17  budget           3243 non-null   float64
 18  domestic         3224 non-null   float64
 19  international    2833 non-null   float64
 20  worldwide        3236 non-null   float64
 21  genre_1          3243 non-null   object
 22  genre_2          2962 non-null   object
 23  genre_3          2221 non-null   object
 24  genre_4          1123 non-null   object
 25  html             3243 non-null   object
dtypes: float64(4), int64(1), object(21)
memory usage: 658.9+ KB

In [21]:
with pd.option_context("display.max_colwidth", None):
    pd.set_option('display.max_columns', None)
    display(mojo_upd_df.head())

,movie_id,title,year,trivia,mpaa,release_date,run_time,distributor,director,writer,producer,composer,cinematographer,main_actor_1,main_actor_2,main_actor_3,main_actor_4,budget,domestic,international,worldwide,genre_1,genre_2,genre_3,genre_4,html
0,tt0099088,Back to the Future Part III,1990,"Stranded in 1955, Marty McFly learns about the death of Doc Brown in 1885 and must travel back in time to save him. With no fuel readily available for the DeLorean, the two must figure how to escape the Old West before Emmett is murdered.",NaN,May 25,1 hr 58 min,Universal Pictures,Robert Zemeckis,Robert Zemeckis,Neil Canton,Alan Silvestri,Dean Cundey,Michael J. Fox,Christopher Lloyd,Mary Steenburgen,Thomas F. Wilson,40000000.0,88277583.0,157866667.0,246144250.0,Adventure,Comedy,Sci-Fi,Western,https://www.boxofficemojo.com/title/tt0099088/credits/
1,tt0099165,The Bonfire of the Vanities,1990,"After his mistress runs over a young teen, a Wall Street hotshot sees his life unravel in the spotlight and attracting the interest of a down and out reporter.",R,December 22,2 hr 5 min,Warner Bros.,Brian De Palma,Michael Cristofer,Brian De Palma,Dave Grusin,Vilmos Zsigmond,Tom Hanks,Bruce Willis,Melanie Griffith,Kim Cattrall,47000000.0,15691192.0,NaN,15691192.0,Comedy,Drama,Romance,NaN,https://www.boxofficemojo.com/title/tt0099165/credits/
2,tt0099348,Dances with Wolves,1990,"Lieutenant John Dunbar, assigned to a remote western Civil War outpost, befriends wolves and Indians, making him an intolerable aberration in the military.",NaN,November 9,3 hr 1 min,Orion Pictures,Kevin Costner,Michael Blake,Kevin Costner,John Barry,Dean Semler,Kevin Costner,Mary McDonnell,Graham Greene,Rodney A. Grant,22000000.0,184208848.0,240000000.0,424208848.0,Adventure,Drama,Western,NaN,https://www.boxofficemojo.com/title/tt0099348/credits/
3,tt0099422,Dick Tracy,1990,The comic strip detective finds his life vastly complicated when Breathless Mahoney makes advances towards him while he is trying to battle Big Boy Caprice's united mob.,NaN,June 15,1 hr 45 min,Walt Disney Studios Motion Pictures,Warren Beatty,Chester Gould,Warren Beatty,Danny Elfman,Vittorio Storaro,Warren Beatty,Madonna,Al Pacino,Charlie Korsmo,47000000.0,103738726.0,59000000.0,162738726.0,Action,Comedy,Crime,Music,https://www.boxofficemojo.com/title/tt0099422/credits/
4,tt0099423,Die Hard 2,1990,"John McClane attempts to avert disaster as rogue military operatives seize control of Dulles International Airport in Washington, D.C.",NaN,July 6,2 hr 4 min,Twentieth Century Fox,Renny Harlin,Walter Wager,Charles Gordon,Michael Kamen,Oliver Wood,Bruce Willis,William Atherton,Bonnie Bedelia,Reginald VelJohnson,70000000.0,117540947.0,122706486.0,240247433.0,Action,Thriller,NaN,NaN,https://www.boxofficemojo.com/title/tt0099423/credits/

In [8]:
#Input CSV
rotten_tom_mov_df = pd.read_csv('../Tracie/rotten_tomatoes_movies.csv')

In [9]:
rotten_tom_mov_df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [10]:
rotten_tom_mov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [11]:
mojo_upd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3243 entries, 0 to 3242
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         3243 non-null   object
 1   title            3243 non-null   object
 2   year             3243 non-null   int64
 3   trivia           3243 non-null   object
 4   mpaa             3082 non-null   object
 5   release_date     3242 non-null   object
 6   run_time         3243 non-null   object
 7   distributor      3228 non-null   object
 8   director         3243 non-null   object
 9   writer           3234 non-null   object
 10  producer         3230 non-null   object
 11  composer         3138 non-null   object
 12  cinematographer  3129 non-null   object
 13  main_actor_1     3243 non-null   object
 14  main_actor_2     3243 non-null   object
 15  main_actor_3     3243 non-null   object
 16  main_actor_4     3240 non-null   object
 17  budget           3243 non-null   float64
 18  domestic         3224 non-null   float64
 19  international    2833 non-null   float64
 20  worldwide        3236 non-null   float64
 21  genre_1          3243 non-null   object
 22  genre_2          2962 non-null   object
 23  genre_3          2221 non-null   object
 24  genre_4          1123 non-null   object
 25  html             3243 non-null   object
dtypes: float64(4), int64(1), object(21)
memory usage: 658.9+ KB

In [12]:
mojo_upd_df.mpaa.value_counts()

R        1349
PG-13    1228
PG        477
G          22
NC-17       6
Name: mpaa, dtype: int64

In [13]:
mojo_upd_df.mpaa.isnull()

0        True
1       False
2        True
3        True
4        True
        ...
3238    False
3239    False
3240    False
3241    False
3242    False
Name: mpaa, Length: 3243, dtype: bool

In [14]:
mojo_upd_df.mpaa.nunique()

5

In [ ]:
mojo_upd_df.mpaa