In [2]:
#Import Dependencies
import pandas as pd

In [3]:
#Input CSV
mojo_bud_df = pd.read_csv('Mojo_budget_data.csv')

In [4]:
#pandas dataframe
print(mojo_bud_df)

       movie_id         movie_title  movie_year            director  \
0     tt0118589             Glitter        2001  Vondie Curtis-Hall
1     tt0120630         Chicken Run        2000          Peter Lord
2     tt0120667      Fantastic Four        2005           Tim Story
3     tt0120679               Frida        2002        Julie Taymor
4     tt0120681           From Hell        2001       Albert Hughes
...         ...                 ...         ...                 ...
2471  tt8688634          21 Bridges        2019          Brian Kirk
2472  tt8946378          Knives Out        2019        Rian Johnson
2473  tt9024106           Unplanned        2019     Chuck Konzelman
2474  tt9134216   Playing with Fire        2019        Andy Fickman
2475  tt9173418  Brahms: The Boy II        2020  William Brent Bell

              writer            producer                composer  \
0     Cheryl L. West       Laurence Mark       Terence Blanchard
1         Peter Lord          Peter Lord  Harry Gregson-Williams
2         Mark Frost            Avi Arad             John Ottman
3     Hayden Herrera  Lindsay Flickinger       Elliot Goldenthal
4         Alan Moore        Jane Hamsher            Trevor Jones
...              ...                 ...                     ...
2471     Adam Mervis    Chadwick Boseman            Alex Belcher
2472    Rian Johnson         Ram Bergman          Nathan Johnson
2473    Abby Johnson         Chris Jones   Stephen Blake Kanicka
2474        Dan Ewen         Todd Garner             Nathan Wang
2475   Stacey Menear       Matt Berenson             Brett Detar

             cinematographer      main_actor_1        main_actor_2  ...  \
0           Geoffrey Simpson      Mariah Carey          Eric Benét  ...
1               Simon Jacobs        Mel Gibson       Julia Sawalha  ...
2                Oliver Wood     Ioan Gruffudd     Michael Chiklis  ...
3             Rodrigo Prieto       Salma Hayek       Alfred Molina  ...
4               Peter Deming       Johnny Depp      Heather Graham  ...
...                      ...               ...                 ...  ...
2471            Paul Cameron  Chadwick Boseman       Sienna Miller  ...
2472            Steve Yedlin      Daniel Craig         Chris Evans  ...
2473                Drew Maw   Ashley Bratcher         Brooks Ryan  ...
2474             Dean Semler         John Cena  Keegan-Michael Key  ...
2475  Karl Walter Lindenlaub      Katie Holmes        Owain Yeoman  ...

       domestic international  worldwide   mpaa     run_time    genre_1  \
0       4274407        997259    5271666  PG-13  1 hr 44 min      Drama
1     106834564     118000000  224834564    NaN  1 hr 24 min  Adventure
2     154696080     178839854  333535934  PG-13  1 hr 46 min     Action
3      25885000      30413474   56298474      R   2 hr 3 min  Biography
4      31602566      42955549   74558115      R   2 hr 2 min     Horror
...         ...           ...        ...    ...          ...        ...
2471   28539757      21400000   49939757      R  1 hr 39 min     Action
2472  165363234     146189956  311553190  PG-13  2 hr 11 min     Comedy
2473   19005109       2046806   21051915      R  1 hr 49 min  Biography
2474   44451847      24179822   68631669     PG  1 hr 36 min     Comedy
2475   12611536       7700000   20311536  PG-13  1 hr 26 min      Drama

        genre_2   genre_3   genre_4  \
0         Music   Romance       NaN
1     Animation    Comedy     Drama
2     Adventure    Family   Fantasy
3         Drama   Romance       NaN
4       Mystery  Thriller       NaN
...         ...       ...       ...
2471      Crime     Drama  Thriller
2472      Crime     Drama   Mystery
2473      Drama       NaN       NaN
2474     Family       NaN       NaN
2475     Horror   Mystery  Thriller

                                                   link
0     https://www.boxofficemojo.com/title/tt0118589/...
1     https://www.boxofficemojo.com/title/tt0120630/...
2     https://www.boxofficemojo.com/title/tt0120667/...
3     https://www.boxofficemojo.com/title/tt0120679/...
4     https://www.boxofficemojo.com/title/tt0120681/...
...                                                 ...
2471  https://www.boxofficemojo.com/title/tt8688634/...
2472  https://www.boxofficemojo.com/title/tt8946378/...
2473  https://www.boxofficemojo.com/title/tt9024106/...
2474  https://www.boxofficemojo.com/title/tt9134216/...
2475  https://www.boxofficemojo.com/title/tt9173418/...

[2476 rows x 23 columns]

In [5]:
mojo_bud_df.dtypes

movie_id           object
movie_title        object
movie_year          int64
director           object
writer             object
producer           object
composer           object
cinematographer    object
main_actor_1       object
main_actor_2       object
main_actor_3       object
main_actor_4       object
budget              int64
domestic            int64
international       int64
worldwide           int64
mpaa               object
run_time           object
genre_1            object
genre_2            object
genre_3            object
genre_4            object
link               object
dtype: object

In [6]:
mojo_bud_df.head()

,movie_id,movie_title,movie_year,director,writer,producer,composer,cinematographer,main_actor_1,main_actor_2,...,domestic,international,worldwide,mpaa,run_time,genre_1,genre_2,genre_3,genre_4,link
0,tt0118589,Glitter,2001,Vondie Curtis-Hall,Cheryl L. West,Laurence Mark,Terence Blanchard,Geoffrey Simpson,Mariah Carey,Eric Benét,...,4274407,997259,5271666,PG-13,1 hr 44 min,Drama,Music,Romance,NaN,https://www.boxofficemojo.com/title/tt0118589/...
1,tt0120630,Chicken Run,2000,Peter Lord,Peter Lord,Peter Lord,Harry Gregson-Williams,Simon Jacobs,Mel Gibson,Julia Sawalha,...,106834564,118000000,224834564,NaN,1 hr 24 min,Adventure,Animation,Comedy,Drama,https://www.boxofficemojo.com/title/tt0120630/...
2,tt0120667,Fantastic Four,2005,Tim Story,Mark Frost,Avi Arad,John Ottman,Oliver Wood,Ioan Gruffudd,Michael Chiklis,...,154696080,178839854,333535934,PG-13,1 hr 46 min,Action,Adventure,Family,Fantasy,https://www.boxofficemojo.com/title/tt0120667/...
3,tt0120679,Frida,2002,Julie Taymor,Hayden Herrera,Lindsay Flickinger,Elliot Goldenthal,Rodrigo Prieto,Salma Hayek,Alfred Molina,...,25885000,30413474,56298474,R,2 hr 3 min,Biography,Drama,Romance,NaN,https://www.boxofficemojo.com/title/tt0120679/...
4,tt0120681,From Hell,2001,Albert Hughes,Alan Moore,Jane Hamsher,Trevor Jones,Peter Deming,Johnny Depp,Heather Graham,...,31602566,42955549,74558115,R,2 hr 2 min,Horror,Mystery,Thriller,NaN,https://www.boxofficemojo.com/title/tt0120681/...

In [7]:
#Input CSV
mojo_upd_df = pd.read_csv('Mojo_budget_update.csv')

In [8]:
print(mojo_upd_df)

       movie_id                        title  year  \
0     tt0099088  Back to the Future Part III  1990
1     tt0099165  The Bonfire of the Vanities  1990
2     tt0099348           Dances with Wolves  1990
3     tt0099422                   Dick Tracy  1990
4     tt0099423                   Die Hard 2  1990
...         ...                          ...   ...
3238  tt8772262                    Midsommar  2019
3239  tt8946378                   Knives Out  2019
3240  tt9024106                    Unplanned  2019
3241  tt9134216            Playing with Fire  2019
3242  tt9173418           Brahms: The Boy II  2020

                                                 trivia   mpaa release_date  \
0     Stranded in 1955, Marty McFly learns about the...    NaN       May 25
1     After his mistress runs over a young teen, a W...      R  December 22
2     Lieutenant John Dunbar, assigned to a remote w...    NaN   November 9
3     The comic strip detective finds his life vastl...    NaN      June 15
4     John McClane attempts to avert disaster as rog...    NaN       July 6
...                                                 ...    ...          ...
3238  A couple travels to Sweden to visit a rural ho...      R       July 3
3239  A detective investigates the death of a patria...  PG-13  November 21
3240  All Abby Johnson ever wanted to do was help wo...      R     March 29
3241  A crew of rugged firefighters meet their match...     PG   November 7
3242  After a family moves into the Heelshire Mansio...  PG-13  February 20

         run_time                          distributor            director  \
0     1 hr 58 min                   Universal Pictures     Robert Zemeckis
1      2 hr 5 min                         Warner Bros.      Brian De Palma
2      3 hr 1 min                       Orion Pictures       Kevin Costner
3     1 hr 45 min  Walt Disney Studios Motion Pictures       Warren Beatty
4      2 hr 4 min                Twentieth Century Fox        Renny Harlin
...           ...                                  ...                 ...
3238  2 hr 28 min                                  A24           Ari Aster
3239  2 hr 11 min                            Lionsgate        Rian Johnson
3240  1 hr 49 min              Pure Flix Entertainment     Chuck Konzelman
3241  1 hr 36 min                   Paramount Pictures        Andy Fickman
3242  1 hr 26 min                    STX Entertainment  William Brent Bell

                 writer  ...            main_actor_4      budget     domestic  \
0       Robert Zemeckis  ...        Thomas F. Wilson  40000000.0   88277583.0
1     Michael Cristofer  ...            Kim Cattrall  47000000.0   15691192.0
2         Michael Blake  ...         Rodney A. Grant  22000000.0  184208848.0
3         Chester Gould  ...          Charlie Korsmo  47000000.0  103738726.0
4          Walter Wager  ...     Reginald VelJohnson  70000000.0  117540947.0
...                 ...  ...                     ...         ...          ...
3238          Ari Aster  ...  William Jackson Harper   9000000.0   27426361.0
3239       Rian Johnson  ...        Jamie Lee Curtis  40000000.0  165363234.0
3240       Abby Johnson  ...              Jared Lotz   6000000.0   19005109.0
3241           Dan Ewen  ...              Tyler Mane  29900000.0   44451847.0
3242      Stacey Menear  ...            Ralph Ineson  10000000.0   12611536.0

     international    worldwide    genre_1   genre_2  genre_3   genre_4  \
0      157866667.0  246144250.0  Adventure    Comedy   Sci-Fi   Western
1              NaN   15691192.0     Comedy     Drama  Romance       NaN
2      240000000.0  424208848.0  Adventure     Drama  Western       NaN
3       59000000.0  162738726.0     Action    Comedy    Crime     Music
4      122706486.0  240247433.0     Action  Thriller      NaN       NaN
...            ...          ...        ...       ...      ...       ...
3238    19463936.0   46890297.0      Drama    Horror  Mystery  Thriller
3239   143869563.0  309232797.0     Comedy     Crime    Drama   Mystery
3240     2046806.0   21051915.0  Biography     Drama      NaN       NaN
3241    24179822.0   68631669.0     Comedy    Family      NaN       NaN
3242     7700000.0   20311536.0      Drama    Horror  Mystery  Thriller

                                                   html
0     https://www.boxofficemojo.com/title/tt0099088/...
1     https://www.boxofficemojo.com/title/tt0099165/...
2     https://www.boxofficemojo.com/title/tt0099348/...
3     https://www.boxofficemojo.com/title/tt0099422/...
4     https://www.boxofficemojo.com/title/tt0099423/...
...                                                 ...
3238  https://www.boxofficemojo.com/title/tt8772262/...
3239  https://www.boxofficemojo.com/title/tt8946378/...
3240  https://www.boxofficemojo.com/title/tt9024106/...
3241  https://www.boxofficemojo.com/title/tt9134216/...
3242  https://www.boxofficemojo.com/title/tt9173418/...

[3243 rows x 26 columns]

In [9]:
mojo_upd_df.head()

,movie_id,title,year,trivia,mpaa,release_date,run_time,distributor,director,writer,...,main_actor_4,budget,domestic,international,worldwide,genre_1,genre_2,genre_3,genre_4,html
0,tt0099088,Back to the Future Part III,1990,"Stranded in 1955, Marty McFly learns about the...",NaN,May 25,1 hr 58 min,Universal Pictures,Robert Zemeckis,Robert Zemeckis,...,Thomas F. Wilson,40000000.0,88277583.0,157866667.0,246144250.0,Adventure,Comedy,Sci-Fi,Western,https://www.boxofficemojo.com/title/tt0099088/...
1,tt0099165,The Bonfire of the Vanities,1990,"After his mistress runs over a young teen, a W...",R,December 22,2 hr 5 min,Warner Bros.,Brian De Palma,Michael Cristofer,...,Kim Cattrall,47000000.0,15691192.0,NaN,15691192.0,Comedy,Drama,Romance,NaN,https://www.boxofficemojo.com/title/tt0099165/...
2,tt0099348,Dances with Wolves,1990,"Lieutenant John Dunbar, assigned to a remote w...",NaN,November 9,3 hr 1 min,Orion Pictures,Kevin Costner,Michael Blake,...,Rodney A. Grant,22000000.0,184208848.0,240000000.0,424208848.0,Adventure,Drama,Western,NaN,https://www.boxofficemojo.com/title/tt0099348/...
3,tt0099422,Dick Tracy,1990,The comic strip detective finds his life vastl...,NaN,June 15,1 hr 45 min,Walt Disney Studios Motion Pictures,Warren Beatty,Chester Gould,...,Charlie Korsmo,47000000.0,103738726.0,59000000.0,162738726.0,Action,Comedy,Crime,Music,https://www.boxofficemojo.com/title/tt0099422/...
4,tt0099423,Die Hard 2,1990,John McClane attempts to avert disaster as rog...,NaN,July 6,2 hr 4 min,Twentieth Century Fox,Renny Harlin,Walter Wager,...,Reginald VelJohnson,70000000.0,117540947.0,122706486.0,240247433.0,Action,Thriller,NaN,NaN,https://www.boxofficemojo.com/title/tt0099423/...

In [10]:
mojo_upd_df.dtypes

movie_id            object
title               object
year                 int64
trivia              object
mpaa                object
release_date        object
run_time            object
distributor         object
director            object
writer              object
producer            object
composer            object
cinematographer     object
main_actor_1        object
main_actor_2        object
main_actor_3        object
main_actor_4        object
budget             float64
domestic           float64
international      float64
worldwide          float64
genre_1             object
genre_2             object
genre_3             object
genre_4             object
html                object
dtype: object

In [11]:
mojo_upd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3243 entries, 0 to 3242
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         3243 non-null   object
 1   title            3243 non-null   object
 2   year             3243 non-null   int64
 3   trivia           3243 non-null   object
 4   mpaa             3082 non-null   object
 5   release_date     3242 non-null   object
 6   run_time         3243 non-null   object
 7   distributor      3228 non-null   object
 8   director         3243 non-null   object
 9   writer           3234 non-null   object
 10  producer         3230 non-null   object
 11  composer         3138 non-null   object
 12  cinematographer  3129 non-null   object
 13  main_actor_1     3243 non-null   object
 14  main_actor_2     3243 non-null   object
 15  main_actor_3     3243 non-null   object
 16  main_actor_4     3240 non-null   object
 17  budget           3243 non-null   float64
 18  domestic         3224 non-null   float64
 19  international    2833 non-null   float64
 20  worldwide        3236 non-null   float64
 21  genre_1          3243 non-null   object
 22  genre_2          2962 non-null   object
 23  genre_3          2221 non-null   object
 24  genre_4          1123 non-null   object
 25  html             3243 non-null   object
dtypes: float64(4), int64(1), object(21)
memory usage: 658.9+ KB

In [24]:
#Input CSV
rotten_tom_rev_df = pd.read_csv('rotten_tomatoes_critic_reviews.csv', low_memory=False)

In [25]:
rotten_tom_rev_df.head()

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...

In [26]:
rotten_tom_rev_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1130017 entries, 0 to 1130016
Data columns (total 8 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   rotten_tomatoes_link  1130017 non-null  object
 1   critic_name           1111488 non-null  object
 2   top_critic            1130017 non-null  bool
 3   publisher_name        1130017 non-null  object
 4   review_type           1130017 non-null  object
 5   review_score          824081 non-null   object
 6   review_date           1130017 non-null  object
 7   review_content        1064211 non-null  object
dtypes: bool(1), object(7)
memory usage: 61.4+ MB

In [27]:
rotten_tom_rev_df.dtypes

rotten_tomatoes_link    object
critic_name             object
top_critic                bool
publisher_name          object
review_type             object
review_score            object
review_date             object
review_content          object
dtype: object

In [28]:
print(rotten_tom_rev_df)

        rotten_tomatoes_link        critic_name  top_critic  \
0                  m/0814255    Andrew L. Urban       False
1                  m/0814255      Louise Keller       False
2                  m/0814255                NaN       False
3                  m/0814255       Ben McEachen       False
4                  m/0814255        Ethan Alter        True
...                      ...                ...         ...
1130012          m/zulu_dawn      Chuck O'Leary       False
1130013          m/zulu_dawn          Ken Hanke       False
1130014          m/zulu_dawn    Dennis Schwartz       False
1130015          m/zulu_dawn  Christopher Lloyd       False
1130016          m/zulu_dawn     Brent McKnight       False

                          publisher_name review_type review_score review_date  \
0                         Urban Cinefile       Fresh          NaN  2010-02-06
1                         Urban Cinefile       Fresh          NaN  2010-02-06
2                    FILMINK (Australia)       Fresh          NaN  2010-02-09
3                Sunday Mail (Australia)       Fresh        3.5/5  2010-02-09
4                     Hollywood Reporter      Rotten          NaN  2010-02-10
...                                  ...         ...          ...         ...
1130012                 Fantastica Daily      Rotten          2/5  2005-11-02
1130013  Mountain Xpress (Asheville, NC)       Fresh        3.5/5  2007-03-07
1130014    Dennis Schwartz Movie Reviews       Fresh           B+  2010-09-16
1130015          Sarasota Herald-Tribune      Rotten        3.5/5  2011-02-28
1130016             The Last Thing I See      Rotten            C  2020-07-09

                                            review_content
0        A fantasy adventure that fuses Greek mythology...
1        Uma Thurman as Medusa, the gorgon with a coiff...
2        With a top-notch cast and dazzling special eff...
3        Whether audiences will get behind The Lightnin...
4        What's really lacking in The Lightning Thief i...
...                                                    ...
1130012                                                NaN
1130013  Seen today, it's not only a startling indictme...
1130014  A rousing visual spectacle that's a prequel of...
1130015  A simple two-act story: Prelude to war, and th...
1130016  Rides the line between being a pure artifact o...

[1130017 rows x 8 columns]

In [15]:
#Input CSV
rotten_tom_mov_df = pd.read_csv('rotten_tomatoes_movies.csv')

In [16]:
rotten_tom_mov_df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [17]:
rotten_tom_mov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [18]:
rotten_tom_mov_df.dtypes

rotten_tomatoes_link                 object
movie_title                          object
movie_info                           object
critics_consensus                    object
content_rating                       object
genres                               object
directors                            object
authors                              object
actors                               object
original_release_date                object
streaming_release_date               object
runtime                             float64
production_company                   object
tomatometer_status                   object
tomatometer_rating                  float64
tomatometer_count                   float64
audience_status                      object
audience_rating                     float64
audience_count                      float64
tomatometer_top_critics_count         int64
tomatometer_fresh_critics_count       int64
tomatometer_rotten_critics_count      int64
dtype: object

In [19]:
#Input CSV
sequels_df = pd.read_csv('Movies_w_sequels.csv')

In [20]:
sequels_df.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0145487,2011-11-03,2011-11-03,NaN,Spider-Man,https://www.imdb.com/title/tt0145487/,movie,7.4,121.0,2002.0,"Action, Adventure, Sci-Fi",804821.0,2002-04-30,Sam Raimi
1,2,tt0316654,2011-11-03,2011-11-03,NaN,Spider-Man 2,https://www.imdb.com/title/tt0316654/,movie,7.4,127.0,2004.0,"Action, Adventure, Sci-Fi",642252.0,2004-06-25,Sam Raimi
2,3,tt0413300,2011-11-03,2011-11-03,NaN,Spider-Man 3,https://www.imdb.com/title/tt0413300/,movie,6.2,139.0,2007.0,"Action, Adventure, Sci-Fi",581626.0,2007-04-03,Sam Raimi
3,4,tt0133093,2011-11-03,2011-11-03,NaN,The Matrix,https://www.imdb.com/title/tt0133093/,movie,8.7,136.0,1999.0,"Action, Sci-Fi",1879626.0,1999-03-24,"Lilly Wachowski, Lana Wachowski"
4,5,tt0234215,2011-11-03,2011-11-03,NaN,The Matrix Reloaded,https://www.imdb.com/title/tt0234215/,movie,7.2,138.0,2003.0,"Action, Sci-Fi",589151.0,2003-05-07,"Lilly Wachowski, Lana Wachowski"

In [21]:
sequels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        1170 non-null   int64
 1   Const           1170 non-null   object
 2   Created         1170 non-null   object
 3   Modified        1170 non-null   object
 4   Description     0 non-null      float64
 5   Title           1170 non-null   object
 6   URL             1170 non-null   object
 7   Title Type      1170 non-null   object
 8   IMDb Rating     1151 non-null   float64
 9   Runtime (mins)  1151 non-null   float64
 10  Year            1161 non-null   float64
 11  Genres          1170 non-null   object
 12  Num Votes       1151 non-null   float64
 13  Release Date    1161 non-null   object
 14  Directors       1163 non-null   object
dtypes: float64(5), int64(1), object(9)
memory usage: 137.2+ KB

In [22]:
sequels_df.dtypes

Position            int64
Const              object
Created            object
Modified           object
Description       float64
Title              object
URL                object
Title Type         object
IMDb Rating       float64
Runtime (mins)    float64
Year              float64
Genres             object
Num Votes         float64
Release Date       object
Directors          object
dtype: object

In [23]:
print(sequels_df)

      Position       Const     Created    Modified  Description  \
0            1   tt0145487  2011-11-03  2011-11-03          NaN
1            2   tt0316654  2011-11-03  2011-11-03          NaN
2            3   tt0413300  2011-11-03  2011-11-03          NaN
3            4   tt0133093  2011-11-03  2011-11-03          NaN
4            5   tt0234215  2011-11-03  2011-11-03          NaN
...        ...         ...         ...         ...          ...
1165      1166   tt4160708  2021-12-22  2021-12-22          NaN
1166      1167   tt6246322  2021-12-22  2021-12-22          NaN
1167      1168   tt3794354  2022-06-19  2022-06-19          NaN
1168      1169  tt12412888  2022-06-19  2022-06-19          NaN
1169      1170  tt18259086  2022-06-19  2022-06-19          NaN

                     Title                                     URL Title Type  \
0               Spider-Man   https://www.imdb.com/title/tt0145487/      movie
1             Spider-Man 2   https://www.imdb.com/title/tt0316654/      movie
2             Spider-Man 3   https://www.imdb.com/title/tt0413300/      movie
3               The Matrix   https://www.imdb.com/title/tt0133093/      movie
4      The Matrix Reloaded   https://www.imdb.com/title/tt0234215/      movie
...                    ...                                     ...        ...
1165         Don't Breathe   https://www.imdb.com/title/tt4160708/      movie
1166       Don't Breathe 2   https://www.imdb.com/title/tt6246322/      movie
1167    Sonic the Hedgehog   https://www.imdb.com/title/tt3794354/      movie
1168  Sonic the Hedgehog 2  https://www.imdb.com/title/tt12412888/      movie
1169  Sonic the Hedgehog 3  https://www.imdb.com/title/tt18259086/      movie

      IMDb Rating  Runtime (mins)    Year  \
0             7.4           121.0  2002.0
1             7.4           127.0  2004.0
2             6.2           139.0  2007.0
3             8.7           136.0  1999.0
4             7.2           138.0  2003.0
...           ...             ...     ...
1165          7.1            88.0  2016.0
1166          6.0            98.0  2021.0
1167          6.5            99.0  2020.0
1168          6.5           122.0  2022.0
1169          NaN             NaN  2024.0

                                                 Genres  Num Votes  \
0                             Action, Adventure, Sci-Fi   804821.0
1                             Action, Adventure, Sci-Fi   642252.0
2                             Action, Adventure, Sci-Fi   581626.0
3                                        Action, Sci-Fi  1879626.0
4                                        Action, Sci-Fi   589151.0
...                                                 ...        ...
1165                            Crime, Horror, Thriller   269894.0
1166                    Action, Crime, Horror, Thriller    53951.0
1167  Action, Adventure, Comedy, Family, Fantasy, Sc...   135895.0
1168  Action, Adventure, Comedy, Family, Fantasy, Sc...    55629.0
1169  Animation, Action, Adventure, Comedy, Family, ...        NaN

     Release Date                        Directors
0      2002-04-30                        Sam Raimi
1      2004-06-25                        Sam Raimi
2      2007-04-03                        Sam Raimi
3      1999-03-24  Lilly Wachowski, Lana Wachowski
4      2003-05-07  Lilly Wachowski, Lana Wachowski
...           ...                              ...
1165   2016-03-12                     Fede Alvarez
1166   2021-08-12                    Rodo Sayagues
1167   2020-01-25                      Jeff Fowler
1168   2022-03-30                      Jeff Fowler
1169   2024-12-20                      Jeff Fowler

[1170 rows x 15 columns]