In [9]:
import pandas as pd
import datetime
import time
import pickle
import numpy as np
from sqlalchemy import create_engine, inspect

class SQLHelper():

    def __init__(self,genre,min_budget,max_budget,release_date,mpaa):
        self.database_path = "mojo_update.sqlite"
        self.conn_string = f"sqlite:///{self.database_path}"

        # Create an engine that can talk to the database
        self.engine = create_engine(self.conn_string)
        self.genre = genre
        self.min_budget = min_budget
        self.max_budget = max_budget
        self.release_date = release_date
        self.mpaa = mpaa

    def getDataFromDatabase(self):
        query = f"""
                SELECT 
                m.movie_id,m.title,mp.mpaa,d.director,m.main_actor_1,m.main_actor_2,
                m.main_actor_3,m.main_actor_4,m.domestic,m.budget,
                g.genre_1,m.runtime,m.release_date
                FROM 
                movies_data as m
                INNER JOIN genre_details as g ON m.genre_id = g.genre_id
                INNER JOIN director_details as d ON m.director_id = d.director_id
                INNER JOIN mpaa_details as mp ON m.mpaa_id = mp.mpaa_id

                where 
                g.genre_1 in ({self.genre}) and 
                m.release_date >= ({self.release_date}) and 
                m.budget >= {self.min_budget} and m.budget <= {self.max_budget} and mp.mpaa in ({self.mpaa})
                order by m.title; 

                """
        print(query)
        df = pd.read_sql(query, con=self.engine)
        return df

In [13]:
sq=SQLHelper('"Drama"',100000,600000,'2019-01-01','"R"')
sq.getDataFromDatabase()

                SELECT
                m.movie_id,m.title,mp.mpaa,d.director,m.main_actor_1,m.main_actor_2,
                m.main_actor_3,m.main_actor_4,m.domestic,m.budget,
                g.genre_1,m.runtime,m.release_date
                FROM
                movies_data as m
                INNER JOIN genre_details as g ON m.genre_id = g.genre_id
                INNER JOIN director_details as d ON m.director_id = d.director_id
                INNER JOIN mpaa_details as mp ON m.mpaa_id = mp.mpaa_id

                where
                g.genre_1 in ("Drama") and
                m.release_date >= (2019-01-01) and
                m.budget >= 100000 and m.budget <= 600000 and mp.mpaa in ("R")
                order by m.title;

,movie_id,title,mpaa,director,main_actor_1,main_actor_2,main_actor_3,main_actor_4,domestic,budget,genre_1,runtime,release_date
0,tt6265828,A Ghost Story,R,David Lowery,Casey Affleck,Rooney Mara,McColm Cephas Jr.,Kenneisha Thompson,1596371.0,100000.0,Drama,92,2017-07-07

In [ ]:
#Working on Flask

import pandas as pd
import datetime
import time
import numpy as np
from sqlalchemy import create_engine, inspect

class SQLHelper():
    def __init__(self):
        self.database_path = "mojo_update.sqlite"
        self.conn_string = f"sqlite:///{self.database_path}"
        # Create an engine that can talk to the database
        self.engine = create_engine(self.conn_string)

    def getDataFromDatabase(self, genre, min_budget, max_budget, release_date, mpaa):
        query = f"""
                SELECT 
                m.movie_id,m.title,mp.mpaa,d.director,m.main_actor_1,m.main_actor_2,m.main_actor_3,m.main_actor_4,
                m.domestic,m.budget,
                g.genre_1,m.runtime,m.release_date
                FROM 
                movies_data as m
                INNER JOIN genre_details as g ON m.genre_id = g.genre_id
                INNER JOIN director_details as d ON m.director_id = d.director_id
                INNER JOIN mpaa_details as mp ON m.mpaa_id = mp.mpaa_id
                where 
                g.genre_1 in ({genre}) and 
                m.release_date >= ('{release_date}') and 
                m.budget >= {min_budget} and m.budget <= {max_budget} and mp.mpaa in ({mpaa})
                order by m.title; 
                """
        print(query)
        df = pd.read_sql(query, con=self.engine)
        return df